<a href="https://colab.research.google.com/github/senjuti238/Machine-Learning-practice/blob/main/Deploy_IRIS_Day15_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import libs

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("/content/iris.csv")

In [4]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.drop('Id', axis = 1, inplace = True)

In [6]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
# mapping function to convert species object to numeric

data['Species'] = data['Species'].map({'Iris-setosa' : 0,
                                     'Iris-versicolor' : 1,
                                     'Iris-virginica' : 2})

In [10]:
data.head(150)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [11]:
#separating x and y variables

x = data.drop('Species', axis = 1)
y = data['Species']

In [12]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [13]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [14]:
y.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [15]:
# split datasets into training and testing

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [16]:
print(x_train.shape, y_train.shape)

(120, 4) (120,)

In [17]:
# implement RandomForestClassifier

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
predict = model.predict(x_test)

In [19]:
predict

array([1, 2, 0, 2, 2, 0, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 2, 0, 1, 0, 1, 0,
       2, 0, 1, 2, 2, 2, 1, 2])

In [20]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [21]:
y_test

80     1
138    2
32     0
141    2
128    2
40     0
13     0
3      0
23     0
52     1
45     0
125    2
7      0
133    2
59     1
43     0
140    2
49     0
85     1
41     0
51     1
37     0
136    2
44     0
96     1
109    2
102    2
149    2
65     1
110    2
Name: Species, dtype: int64

In [22]:
model.score(x_test, y_test)

0.9666666666666667

In [23]:
import pickle

In [24]:
with open("final_session.pickle", 'wb') as f:
  pickle.dump(model, f)

In [26]:
from sklearn.tree import DecisionTreeClassifier

trees = DecisionTreeClassifier()

In [27]:
trees.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [28]:
predict2 = trees.predict(x_test)

In [29]:
trees.score(x_test, y_test)

0.9666666666666667

In [30]:
with open("final_session.pickle", 'wb') as f:
  pickle.dump(model, f)
  pickle.dump(trees, f)