<a href="https://colab.research.google.com/github/senjuti238/Machine-Learning-practice/blob/main/NBC1_Day11_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#importing libs

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [30]:
# import dataset

data = pd.read_csv("/content/tennis.csv")

In [31]:
data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [33]:
data.describe()

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      rainy  mild   normal  False  yes
freq         5     6        7      8    9

In [34]:
# separate x and y variables

x = data.drop('play', axis = 1)
y = data['play']

In [35]:
x_data = pd.get_dummies(x, drop_first=True)

In [36]:
x_data

    windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0   False              0              1         1          0                0
1    True              0              1         1          0                0
2   False              0              0         1          0                0
3   False              1              0         0          1                0
4   False              1              0         0          0                1
5    True              1              0         0          0                1
6    True              0              0         0          0                1
7   False              0              1         0          1                0
8   False              0              1         0          0                1
9   False              1              0         0          1                1
10   True              0              1         0          1                1
11   True              0              0         0          1                0
12  False              0              0         1          0                1
13   True              1              0         0          1                0

In [37]:
x_data['windy'] = x_data['windy'].map({True:1,
                                     False:0})

In [38]:
x_data

    windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0       0              0              1         1          0                0
1       1              0              1         1          0                0
2       0              0              0         1          0                0
3       0              1              0         0          1                0
4       0              1              0         0          0                1
5       1              1              0         0          0                1
6       1              0              0         0          0                1
7       0              0              1         0          1                0
8       0              0              1         0          0                1
9       0              1              0         0          1                1
10      1              0              1         0          1                1
11      1              0              0         0          1                0
12      0              0              0         1          0                1
13      1              1              0         0          1                0

In [39]:
# temp = cool, humidity = high, wind = strong, outlook = sunny

from sklearn.naive_bayes import BernoulliNB

b_nb = BernoulliNB()
b_nb.fit(x_data, y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [40]:
pre = b_nb.predict(x_data)

In [41]:
pre

array(['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes'], dtype='<U3')

In [42]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [43]:
x_data

    windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0       0              0              1         1          0                0
1       1              0              1         1          0                0
2       0              0              0         1          0                0
3       0              1              0         0          1                0
4       0              1              0         0          0                1
5       1              1              0         0          0                1
6       1              0              0         0          0                1
7       0              0              1         0          1                0
8       0              0              1         0          0                1
9       0              1              0         0          1                1
10      1              0              1         0          1                1
11      1              0              0         0          1                0
12      0              0              0         1          0                1
13      1              1              0         0          1                0

In [44]:
# temp = cool, humidity = high, wind = strong, outlook = sunny
b_nb.predict([[1,0,1,0,0,0]])

array(['no'], dtype='<U3')

In [45]:
# we need to apply Multinominal NB

from sklearn.naive_bayes import MultinomialNB
m_nb = MultinomialNB()

m_nb.fit(x_data, y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [46]:
m_pred = m_nb.predict(x_data)

In [47]:
m_pred

array(['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes'], dtype='<U3')

In [48]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [55]:
# temp = cool, humidity = high, wind = strong, outlook = sunny
m_nb.predict([[1,0,1,0,0,0]])

array(['no'], dtype='<U3')

In [50]:
# Gaussian NB
from sklearn.naive_bayes import GaussianNB
g_nb = GaussianNB()

g_nb.fit(x_data, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [51]:
g_pred = g_nb.predict(x_data)

In [52]:
g_pred

array(['no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no'], dtype='<U3')

In [53]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [54]:
# temp = cool, humidity = high, wind = strong, outlook = sunny
g_nb.predict([[1,0,1,0,0,0]])

array(['no'], dtype='<U3')